@font-face { font-family: AvenirLTStd, src: url('fonts/AvenirLTStd-Roman.otf');}

body {
  padding-top: 60px;
}

header {
  background-image: url(/img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 366px;
}

.navbar {
  background-color: rgba(43, 169, 63, 1);
}

.logo {
  padding-top: 5px;
}

.navbar-center {
    margin:0;
    float:none;
}

h1 {
  font-family: AvenirLTStd, sans-serif;
  color: rgba(43, 169, 63, 1);
}

h2 {
  color: rgba(234, 234, 234, 1);
}

h3, p, label, .footer-below {
  color: rgba(184, 184, 184, 1);
}

.navbar-inner{
    text-align:center;
}

.intro p {
  padding: 0 40px;
}

.form-control {
  border: none;
  font-size: 30px;
}

.form-line {
  width: 100%;
}

.btn-submit {
  color: white;
  background: rgba(33, 172, 57, 1);
  border-color: rgba(33, 172, 57, 1);
}

.btn-submit:hover {
  background: rgba(33, 150, 57, 1);
  border-color: rgba(33, 150, 57, 1);
}
